@{
    ViewBag.Title = "O autoru";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefon</h3>
    </header>
    <p>
        <span class="label">Fiksni:</span>
        <span>+385.1.6686.908</span>
    </p>
    <p>
        <span class="label">Mobilni:</span>
        <span>+385.91.9024.876</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>E-mail</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:4simic@gmail.com">4simic@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>